@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&family=Montserrat&family=Poppins&family=Share+Tech+Mono&display=swap");
body {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "poppins";
  background-color: #282c37;
}

#key0 {
  grid-area: zero;
}

#key1 {
  grid-area: one;
}

#key2 {
  grid-area: two;
}

#key3 {
  grid-area: three;
}

#key4 {
  grid-area: four;
}

#key5 {
  grid-area: five;
}

#key6 {
  grid-area: six;
}

#key7 {
  grid-area: seven;
}

#key8 {
  grid-area: eight;
}

#key9 {
  grid-area: nine;
}

#clear {
  grid-area: clear;
}

#parenthesisOpen {
  grid-area: parenthesisOpen;
}

#parenthesisClose {
  grid-area: parenthesisClose;
}

#times {
  grid-area: times;
}

#divide {
  grid-area: divide;
}

#minus {
  grid-area: minus;
}

#plus {
  grid-area: plus;
}

#equal {
  grid-area: equal;
}

#percentage {
  grid-area: percentage;
}

#decimal {
  grid-area: decimal;
}

.container-dada {
  height: 100vh;
  display: grid;
  place-items: center;
}
.container-dada h1 {
  text-decoration: underline;
  position: absolute;
  top: 0;
}
.container-dada .calculator-body {
  width: 25rem;
  border: 0.1rem solid #00a85a;
  border-radius: 1em;
  background-color: #1b1e26;
}
.container-dada .calculator-body #output {
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-start: 1em;
          margin-inline-start: 1em;
  display: flex;
  gap: 1rem;
}
.container-dada .calculator-body #output input[disabled] {
  width: 80%;
  height: 2rem;
  overflow-x: auto;
  font-family: "Share Tech Mono";
  text-align: right;
  font-size: 1.5rem;
}
.container-dada .calculator-body #output button {
  background-color: transparent;
  border: none;
}
.container-dada .calculator-body #output button i {
  -webkit-margin-before: 0.005em;
          margin-block-start: 0.005em;
  height: 0.1rem;
  font-size: 1.8rem;
  cursor: pointer;
}
.container-dada .calculator-body #keys {
  -webkit-margin-before: 2em;
          margin-block-start: 2em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  display: grid;
  grid-template-columns: repeat(4, 5.5rem);
  gap: 1em;
  place-items: center;
  grid-template-areas: "parenthesisOpen parenthesisClose clear percentage" "seven eight nine times" "four five six minus" "one two three plus" "zero decimal equal divide";
}
.container-dada .calculator-body #keys button {
  cursor: pointer;
  background-color: #282c37;
  height: 4rem;
  width: 1rem;
  padding: 1rem;
  font-size: 2rem;
  padding: 0.5em;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-family: "Courier Prime";
  text-align: center;
  border-radius: 0.5em;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #282c37;
    color: #eee;
  }

  input {
    color: #eee;
    background-color: #3b3b3b;
  }

  .calculator-body {
    background-color: #1b1e26;
  }
  .calculator-body button {
    color: #eee;
  }
}/*# sourceMappingURL=main.css.map */